*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body
{
    margin: 0px;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
}

header
{
    background: linear-gradient(90deg, rgb(0, 255, 242), rgb(49, 85, 153));
    height: 175px;
}

#enteteLogo
{
    display:flex;
    justify-content: center;
}

#menuNav
{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 36px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elementMenu
{
    font-size: larger;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.elementMenu:hover
{
    color: rgb(255, 174, 0);
    transition-duration: 350ms;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top:10px;
}

h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article
{
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

form
{
    display: flex;
    justify-content: center;
}

.txt
{
    text-align: end;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    transition-duration: 1s;
  }

.column
{
    flex: 30%;
    max-width: 40%;
    padding: 0 4px;
    transition-duration: 1s;
}
  
.column img
{
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-width: 800px)
{
    .column
    {
      flex: 20%;
      max-width: 50%;
    }
}

@media (max-width: 600px)
{
    .column
    {
    flex: 100%;
    max-width: 100%;
    }
}